.page{
    padding:28px 18px 0 18px;
    position:relative;
}
.custom-button{
    background: #5686E1;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    height: 56px;
    color: #fff;
    border: 0;
    border-radius: 16px;
    z-index: 10;
}
.custom-button-pos{
    width: calc(100vw - 40px);
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%);
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.custom-button-down{
    background: #5686E1;
    border: #5686E1 solid 2px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    height: 44px;
    color: #fff;
    border-radius: 16px;
}
.custom-button-down-default{
    background: #ffffff;
    border: #C8DCE8 solid 2px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    height: 44px;
    border-radius: 16px;
    color: #333333;
}
.el-button.is-disabled.custom-button{
    background: #A3A8B0!important;
    color: #fff;
}
.custom-button-sm{
    background: #5686E1;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    line-height: 43px;
    height: 43px;
    color: #fff;
    border: 0;
    border-radius: 16px;
}
.custom-dialog{
    position: relative;
    width: 70%!important;
    .el-dialog__header{display: none}
    .custom-dialog-wrap {
        color: #0D0D0D;
        font-size: 18px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        margin-top: 9px;
        margin-bottom: 28px;
    }
    .tips-wrap{
        font-size: 12px;
        color: #FD6B2E;
        padding: 5px 10px;
        background: #FFEEEE;
        border-radius: 8px;
    }
}
.custom-drawer{
    position: relative;
    margin: 0 !important;
    padding: 0!important;
    background: radial-gradient(circle at top left, #EAF7FF, #FFFFFF);
    background-repeat: no-repeat;
    min-height: 100vh;
    height: auto;
    overflow: auto;
    .el-drawer__header{
        display: none;
    }
    .el-drawer__body{
        padding: 18px !important;
    }
}
.code-wrap{
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .arrow {
        position: absolute;
        width: 30px;
        height: auto;
    }
    .top-left {
        top: 0px;
        left: 0px;
        transform: rotate(-90deg);
    }
    .top-right {
        top: 0px;
        right: 0px;
    }
    .bottom-left {
        bottom: 0px;
        left: 0px;
        transform: rotate(-180deg);
    }
    .bottom-right {
        bottom: 0px;
        right: 0px;
        transform: rotate(90deg);
    }
}
.icon-container{
    padding-top: 22px;
    width: 106%;
    text-align: center;
    .icon-text{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70px;
        height: 64px;
        background: #EAF3FA;
        overflow: hidden;
        border-radius: 10px;
        font-weight: bold;
        font-size: 12px!important;
        color: #0D0D0D;
        text-decoration: none;
    }
    i{
        display: block;
        width: 28px;
        height: 28px;
        margin: 7px auto 4px auto;
    }
    i.i1{
        background: url(@@/public/images/oi1.svg)  no-repeat;
        background-size: 100%;
    }
    i.i2{
        background: url(@@/public/images/oi2.svg)  no-repeat;
        background-size: 100%;
    }
    i.i3{
        background: url(@@/public/images/oi3.svg)  no-repeat;
        background-size: 100%;
    }
    i.i4{
        background: url(@@/public/images/oi4.svg)  no-repeat;
        background-size: 100%;
    }
}
.menu-container {
    text-align: center;
    background: #ffffff;
    height: 88px;
    border-radius: 30px;
    box-shadow: 0 12px 20px rgba(109, 110, 124, 0.2);
    position: fixed !important;
    width: calc(100vw - 40px);
    bottom: 16px;
    .icon-text{
        text-decoration: none;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        width: 70px;
        height: 64px;
        overflow: hidden;
        font-weight: bold;
        font-size: 12px!important;
        color: #333333;
    }
    i{
        display: block;
        width: 28px;
        height: 28px;
        margin: 7px auto 4px auto;
    }
    .i1 i{
        background: url(@@/public/images/bi1.svg)  no-repeat;
        background-size: 100%;
    }
    .i2 i{
        background: url(@@/public/images/bi2.svg)  no-repeat;
        background-size: 100%;
    }
    .i3 i{
        background: url(@@/public/images/bi3.svg)  no-repeat;
        background-size: 100%;
    }
    .i4 i{
        background: url(@@/public/images/bi4.svg)  no-repeat;
        background-size: 100%;
    }
    .cur1, .cur2, .cur3, .cur4{
        color: #1C63FF;
    }
    .cur1 i{
        background: url(@@/public/images/cbi1.svg)  no-repeat;
        background-size: 100%;
    }
    .cur2 i{
        color: #1C63FF;
        background: url(@@/public/images/cbi2.svg)  no-repeat;
        background-size: 100%;
    }
    .cur3 i{
        color: #1C63FF;
        background: url(@@/public/images/cbi3.svg)  no-repeat;
        background-size: 100%;
    }
    .cur4 i{
        color: #1C63FF;
        background: url(@@/public/images/cbi4.svg)  no-repeat;
        background-size: 100%;
    }
    p{
        margin:0;
        padding: 0;
    }
}
.avatar-header{
    width: 100%;
    height: 46px;
    display: flex;
    justify-content: space-between;
    .avatar{
        Width: 46px;
        Height: 46px;
        background: #F4F4F4;
        overflow: hidden;
        border-radius: 50%;
        position: relative;
    }
    .name{
        font-size: 18px;
        font-weight: bold;
        line-height: 28px;
        margin-top: 10px;
        padding-left: 5px;
        display: inline-block;
    }
    .sign{
        display: block;
        color: #999999;
        font-size: 14px;
        line-height: 24px;
        padding-left: 5px;
    }
}
.search-wrap{
    margin-bottom: 20px;
    height: 50px;
    padding: 0 10px;
    background: #ffffff;
    border: #C8DCE8 solid 3px;
    border-radius: 16px;
    position: relative;
    display: flex!important;
    align-items: center;
    .arrow{
        height: 23px;
        width: 28px;
        margin-right:5px;
        color: #E3E3E3;
    }
    .edit{
        height: 23px;
        width: 28px;
        margin-left: 8px;
    }
    .custom-input::placeholder {
        color: #E3E3E3;
    }
    .custom-input{
        border: 1px #ffffff solid;
        height: 34px;
        line-height: 34px;
        font-size: 18px;
        overflow: hidden;
        width: 100%;
    }
}
.table-list-wrap{
    position: relative;
    margin-top: 10px;
    .item{
        display: flex;
        height: 52px;
        padding: 10px 0;
        border-bottom: 1px solid #f1f1f1;
        overflow: hidden;
    }
    .left-column {
        width: 48px;
        height: 48px;
        .el-image{
            width: 100%;
            height: 100%;
            background-color: #eaeaea;
            border-radius: 48px;
        }
    }
    .right-column {
        padding-left: 10px;
        flex: 1;
        padding-top: 5px;
        justify-content: flex-start;
        flex-direction: column;
    }
    .right-column .row {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
        .title {
            font-weight: bold;
            font-size: 16px;
        }
        .text {
            color: #6E6E6E;
        }
    }
}
.icon-eye{
    position: absolute;
    right: 10px;
    width: 44px;
    height: 44px;
    background: url(@@/public/images/see.svg)  no-repeat center center;
    background-size: 45%;
}
.icon-eye-no{
    position: absolute;
    right: 10px;
    width: 44px;
    height: 44px;
    background: url(@@/public/images/seeno.svg)  no-repeat center center;
    background-size: 45%;
}

.password-level-wrap{
    position: relative;
    background: #F7F7F7;
    border-radius: 16px;
    padding: 10px 10px;
    min-height: 70px;
    margin-bottom: 10px;
    font-size: 12px;
    p{
        margin: 0;
        padding: 0;
    }
    .triangle-arrow {
        position: absolute;
        bottom: -10px;
        left: 20px;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 12px solid #F7F7F7;
    }
    .title{
        color: #666666;
        height: 16px;
        line-height: 16px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        span{
            margin-right: 10px
        }
        i{
            display: inline-block;
            flex: 1;
            height: 8px;
            border-radius: 4px;
            margin-left: 4px;
            background: #EBEBEB;
        }
    }
    .content{
        span{
            display: flex;
            justify-content: space-between;
            padding-top: 5px;
        }
    }
    .title.l1 i:nth-of-type(1) {
        background: #F36A35;
    }
    .title.l2 {
        i:nth-of-type(1) {
            background: #F36A35;
        }
        i:nth-of-type(2) {
            background: #FDC92E;
        }
    }
    .title.l3 {
        i:nth-of-type(1) {
            background: #F36A35;
        }
        i:nth-of-type(2) {
            background: #FDC92E;
        }
        i:nth-of-type(3) {
            background: #3ED283;
        }
    }
    .title.l4 {
        i:nth-of-type(1) {
            background: #F36A35;
        }
        i:nth-of-type(2) {
            background: #FDC92E;
        }
        i:nth-of-type(3) {
            background: #3ED283;
        }
        i:last-of-type {
            background: #18A95C;
        }
    }
}
